<link rel="stylesheet" href="/stylesheets/custom.css">
<% layout('layouts/boilerplate') %>

<div class="card quote-color">
    <div class="card-body mt-5 mb-5 ms-5 me-5">
        The list of the greatest books is sourced from <a href="https://thegreatestbooks.org">thegreatestbooks.org</a>. This website has generated the list by using an algorithm that collates data from 130 of the best book lists from various credible sources. The algorithm takes into consideration the number of times a book appears on these lists and uses that information to generate a final ranking of the greatest books.
    </div>
</div>

<nav class="navbar navbar-light bg-light mt-5">
    <div class="container-fluid">
        <form action="/books" method="GET" class="d-flex">
            <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>        
    </div>
</nav>
<% for (let book of books){ %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="" src="<%=book.images[0].url%>" crossorigin>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center"><%= book.greatestBook %>. <%=book.title%></h5>
                    <p class="card-text"><%= book.description %></p>
                    <p class="card-text text-center">
                        <small class="text-muted"><%= book.author %></small>
                    </p>
                    <div class="text-center">
                        <a class="btn btn-primary" href="/books/<%= book._id %>">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>
<nav aria-label="Page navigation">
    <ul class="pagination d-flex justify-content-center">
      <li class="page-item <%= currentPage == 1 ? 'disabled' : '' %>">
        <a class="page-link" href="?page=<%= currentPage - 1 %>"><</a>
      </li>
      <%
      var mobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
      var start, end;
      if (mobile) {
        start = currentPage - 2;
        end = currentPage + 2;
      } else {
        start = currentPage - 5;
        end = currentPage + 4;
      }
      if (start < 1) {
        end = end + (1 - start);
        start = 1;
      }
      if (end > totalPages) {
        start = Math.max(1, start - (end - totalPages));
        end = totalPages;
      }
      for (var i = start; i <= end; i++) {
      %>
        <li class="page-item <%= i == currentPage ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
      <li class="page-item <%= currentPage == totalPages ? 'disabled' : '' %>">
        <a class="page-link" href="?page=<%= currentPage + 1 %>">></a>
      </li>
    </ul>
</nav>