<link rel="stylesheet" href="/stylesheets/custom.css">
<% layout('layouts/boilerplate') %>

<div class="card quote-color">
    <div class="card-body mt-5 mb-5 ms-5 me-5">
        This list showcases a selection of literature works that have received the prestigious Pulitzer Prize award. It is important to note that the list is limited to works by authors who have passed away for at least 30 years, in accordance with the philosophy espoused in <a href="https://classia.io/about">Haruki Murakami's Norwegian Wood</a>. 
    </div>
</div>

<nav class="navbar navbar-light bg-light mt-5">
    <div class="container-fluid">
        <form action="/books" method="GET" class="d-flex">
            <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>        
    </div>
</nav>
<% for (let book of books){ %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="" src="<%=book.images[0].url%>" crossorigin>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center"><%=book.title%> (<%= book.pulitzerPrize %>)</h5>
                    <p class="card-text"><%= book.description %></p>
                    <p class="card-text text-center">
                        <small class="text-muted"><%= book.author %></small>
                    </p>
                    <div class="text-center">
                        <a class="btn btn-primary" href="/books/<%= book._id %>">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>

<nav aria-label="Page navigation">
    <ul class="pagination d-flex justify-content-center pagenav">
      <li class="page-item <%= currentPage == 1 ? 'disabled' : '' %>">
        <a class="page-link" href="?page=<%= currentPage - 1 %>"><</a>
      </li>
      <%
      var start = currentPage - 5;
      var end = currentPage + 4;
      if (start < 1) {
        end = end + (1 - start);
        start = 1;
      }
      if (end > totalPages) {
        start = Math.max(1, start - (end - totalPages));
        end = totalPages;
      }
      for (var i = start; i <= end; i++) {
      %>
        <li class="page-item <%= i == currentPage ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
      <li class="page-item <%= currentPage == totalPages ? 'disabled' : '' %>">
        <a class="page-link" href="?page=<%= currentPage + 1 %>">></a>
      </li>
    </ul>
</nav>