<link rel="stylesheet" href="/stylesheets/custom.css">
<% layout('layouts/boilerplate') %>

<div class="card quote-color">
    <div class="card-body mt-5 mb-5 ms-5 me-5">
        This ranking presents a comprehensive list of the top 100 most highly rated classical novels, based on an aggregate of their overall ratings. The ranking is constantly updated in real-time to ensure that the list accurately reflects the most highly rated works of classical literature.
    </div>
</div>

<nav class="navbar navbar-light bg-light mt-5">
    <div class="container-fluid">
        <form action="/books" method="GET" class="d-flex">
            <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>        
    </div>
</nav>
<%
    let counter;
    if (currentPage === 1) {
    counter = 1;
    } else if (currentPage === 2) {
    counter = 6;
    } else if (currentPage === 3) {
    counter = 11;
    } else if (currentPage === 4) {
    counter = 16;
    } else if (currentPage === 5) {
    counter = 21;
    } else if (currentPage === 6) {
    counter = 26;
    } else if (currentPage === 7) {
    counter = 31;
    } else if (currentPage === 8) {
    counter = 36;
    } else if (currentPage === 9) {
    counter = 41;
    } else if (currentPage === 10) {
    counter = 46;
    } else if (currentPage === 11) {
    counter = 51;
    } else if (currentPage === 12) {
    counter = 56;
    } else if (currentPage === 13) {
    counter = 61;
    } else if (currentPage === 14) {
    counter = 66;
    } else if (currentPage === 15) {
    counter = 71;
    } else if (currentPage === 16) {
    counter = 76;
    } else if (currentPage === 17) {
    counter = 81;
    } else if (currentPage === 18) {
    counter = 86;
    } else if (currentPage === 19) {
    counter = 91;
    } else if (currentPage === 20) {
    counter = 96;
    }
%>
<% for (let book of books){ %>
    <% if (counter === 101) { break; } %>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" alt="" src="<%=book.images[0].url%>" crossorigin>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title text-center"><%= counter %>. <%=book.title%></h5>
                    <p class="card-text"><%= book.description %></p>
                    <p class="card-text text-center">
                        <small class="text-muted"><%= book.author %></small>
                    </p>
                    <div class="text-center">
                        <a class="btn btn-primary" href="/books/<%= book._id %>">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% counter++; %>
<% } %>
<nav aria-label="Page navigation">
    <ul class="pagination d-flex justify-content-center">
      <li class="page-item <%= currentPage == 1 ? 'disabled' : '' %>">
        <a class="page-link" href="?page=<%= currentPage - 1 %>"><</a>
      </li>
      <%
      var start = currentPage - 5;
      var end = currentPage + 4;
      if (start < 1) {
        end = end + (1 - start);
        start = 1;
      }
      if (end > totalPages) {
        start = Math.max(1, start - (end - totalPages));
        end = totalPages;
      }
      for (var i = start; i <= end; i++) {
      %>
        <li class="page-item <%= i == currentPage ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
      <li class="page-item <%= currentPage == totalPages ? 'disabled' : '' %>">
        <a class="page-link" href="?page=<%= currentPage + 1 %>">></a>
      </li>
    </ul>
</nav>